body {
    display: flex;
    position: relative;
    margin: 0;
    color: #000000;
    overflow: hidden;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
}

#sidePanel {
    display: block;
    position: relative;
    max-width: 400px;
    min-width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.342);
}

#mainPanel {
    display: grid;
    position: relative;
    overflow-y: scroll;
}


#paragraphs {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    margin-left: 0px;
    padding-left: 100px;
    margin-left: 0px;
    padding-top: 16px;
}

.parag {
    max-height: 139px;
    min-height: 94px;
    width: 40vw;
    min-width: 374px;
    background-color: #fff;
    padding: 0px 3px 6px 0px;
    margin: 2px ;
    border: 1px solid rgba(138, 165, 42, 0.288);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    margin-right: 5px;
    display: flex;
    position: relative;
}

p {
    font-family: Arial ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@keyframes rotategradient {
    0%{
        transform: rotate(0deg);
    }
    15%{
        transform: rotate(45deg);
    }
    45%{
        transform: rotate(170deg);
    }
    75%{
        transform: rotate(270deg);
    }
    90%{
        transform: rotate(330deg);
    }
    95%{
        transform: rotate(350deg);
    }
    100%{
        transform: rotate(360deg);
    }
}